* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333333;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  min-height: 100px;
  min-width: 750px;
  background-color: #448878;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header h1 {
  color: #f0f0f0;
  font-size: 2em;
}
div#body {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  min-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 770px) {
  div#body {
    width: 750px;
  }
}
@media (min-width: 990px) {
  div#body {
    width: 970px;
  }
}
ul.nav-tabs {
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #ddd;
  margin: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
ul.nav-tabs li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #448878;
  padding: 10px 10px;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  margin-bottom: -1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #ffffff;
}
ul.nav-tabs li.active {
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-color: #ddd #ddd #fff #ddd;
}
ul.nav-tabs li:hover {
  background-color: #d7d7d7;
}
ul.nav-tabs li.active:hover {
  background-color: #ffffff;
}
div.page-content {
  width: 100%;
  margin: 20px 0px;
  padding: 0px 20px;
  border-left: 4px #448878 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.page-content div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.page-content h2 {
  margin: 10px 0px 6px 0px;
  padding-left: 20px;
  font-size: 1.5em;
}
div.page-content h3 {
  margin: 10px 0px 3px 0px;
  padding-left: 20px;
  font-size: 1.3em;
}
div.page-content hr {
  width: 400px;
}
div.page-content i.fa.huge {
  font-size: 2em;
}
div.page-content i.fa.colored {
  color: #448878;
}
div.page-content div.vizComponent {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.page-content div.vizComponent svg {
  margin: 10px 0px;
}
div.page-content p {
  max-width: 100%;
  padding: 5px;
  font-size: 1em;
}
div.page-content p.subtitle {
  font-style: italic;
  color: #666666;
}
div.page-content ul {
  padding: 5px;
  margin-left: 30px;
  list-style: none;
}
div.page-content ul li {
  /* margin-left: 5px; */
  display: flex;
}
div.page-content ul li::before {
  content: "■";
  /* margin-right: 12px; */
  color: #448878;
}
div.page-content ul li p {
  padding: 2px 10px;
}
div.page-content a {
  text-decoration: none;
  color: #448878;
}
div.page-content a:hover {
  text-decoration: underline;
  color: #33665a;
}
div.page-content img {
  margin: 0px 20px;
}
div.page-content div.section h2 {
  margin: 10px 0px 6px 0px;
  padding-left: 20px;
  font-size: 1.5em;
}
div.page-content div.section h2.expandable {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
div.page-content div.section h2.expandable span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
div.page-content div.section h2.expandable span:after {
  content: '\25be';
  color: #666666;
  position: absolute;
  opacity: 0;
  top: -5px;
  right: -35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
div.page-content div.section h2.expandable.expanded span:after {
  content: '\25b4';
  top: 5px;
}
div.page-content div.section h2.expandable:hover span:after {
  opacity: 1;
  top: 0px;
}
div.page-content div.section h3 {
  margin: 10px 0px 3px 0px;
  padding-left: 20px;
}
div.page-content div.section hr {
  width: 60%;
}
div.page-content div.section p {
  max-width: 100%;
  padding: 5px;
}
div.page-content div.section p.subtitle {
  font-style: italic;
  color: #666666;
}
div.page-content div.section ul {
  padding: 5px;
  margin-left: 30px;
}
div.page-content div.section ul li p {
  padding: 2px 10px;
}
div.page-content div.section a {
  text-decoration: none;
  color: #448878;
}
div.page-content div.section a:hover {
  text-decoration: underline;
  color: #33665a;
}
div.page-content div.section div.subsection {
  padding: 10px 0px;
}
div.page-content div.subsection {
  padding: 10px 0px;
}
div.viz-tooltip {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 0.8em;
}
div.viz-tooltip * {
  color: white;
}
